*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: "Poppins", sans-serif;
    font: 1.6rem;
}
.h-btn1
{
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    background:green;
}
/*Header*/
.header-container
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2.5rem;
    border-bottom: 1px solid oklch(27.274% 0.00003 271.152 / 0.73);
}
.brand
{
    display:flex;
    align-items: center;
    gap:5px;
}
.ph-basket
{
    color: oklch(69.13% 0.18587 149.926);
    font-size: 3rem;
}
.navbar 
{
    list-style: none;
    display:flex;
    gap:1.5rem;
    
}
.navbar a
{
    text-decoration: none;
    color: oklch(27.274% 0.00003 271.152 / 0.73);
}
.navbar a:hover
{
    text-decoration: none;
    color: oklch(12.856% 0.00001 271.152);
}

/*Hero Section*/
.hero-container
{
    padding: 5rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.hero-header
{
    color: black;
    font-size: 5rem;
}
.hero-text
{
    color: oklch(30.519% 0.00003 271.152);
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap:1.5rem;
    flex-basis: 50%;
}
.hero-image
{
    border-radius: 1rem;
    left:3rem;
}
.text-tag
{
    width: fit-content;
    padding: 5px 1rem;
    border-radius: 2rem;
    background-color: rgba(200, 192, 192, 0.819);
    color:oklch(27.394% 0.00551 285.955);
    font-size: 1.3rem;
}
.hero-text-list
{
    list-style: none;
    font-size: 1.3rem;
}
.hero-text-list li
{
    display:flex;
    align-items: center;
    gap: 5px;
}
.hero-text-list li i
{
    color: green;
}
.btn-wrap
{
    display: flex;
    gap:1rem;
}
.h-btn1
{
    font-size: 1.3rem;
    padding: 8px;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    background:green;
}
.h-btn2
{
    font-size: 1.3rem;
    padding: 8px;
    color:black;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid oklch(70.8% 0 0);
}
@media(max-width: 920px)
{
    .image-wrap
    {
        height: 45rem;
        width: 35rem;
    }
    .hero-image
    {
        height: 45rem;
        width: 35rem;
    }
}
@media(max-width: 890px)
{
    .hero-container
    {
        flex-basis: 100%;
    }
    .text-tag
    {
        font-size: 0.9rem;
    }
    .hero-header
    {
        font-size: 4.5rem;
    }
    .paragraph
    {
        font-size: 0.7rem;
    }
    .hero-text-list
    {
        font-size: 0.9rem;
    }  
}
@media(max-width:840px)
{
    .image-wrap
    {
        display:none;
    }
    .hero-text
    {
        flex-basis: 100%;
    }
}
@media(max-width: 700px)
{
    .navbar
    {
        display:none
    }
    .image-wrap
    {
        display:none;
    }
    .hero-text
    {
        flex-basis: 100%;
    }
}
@media(max-width: 430px)
{
    .btn-wrap
    {
        flex-direction: column;
        width: fit-content;
    }
}
/*How it Works*/
.how-it-works
{
    padding: 5rem 2rem;
    background-color: #e0f2f1;
    margin-top: 2.5rem;
    color: oklch(39.138% 0.00133 15.376 / 0.986);
}
.how-it-works-text
{
    text-align: center;
}
.how-it-works-text h3
{
    color: black;
    font-size: 3.2rem;
    font-weight: 500;
}
.how-it-works-cards h4
{
    color: black;
    font-size: 2rem;
}
.how-it-works-cards
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.card1
{
    text-align: left;
    padding:3rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
}  
.card1 i
{
    background-color: #e0f2f1;
    padding:5px;
    border-radius:5px;
    color: green;
    font-size:2rem;
    margin-bottom: 2rem;
}
.card1 i,p,h4
{
   margin-top: 8px;
}
@media(max-width: 590px)
{
    .how-it-works-cards
    {
        flex-wrap: nowrap;
    }
}
/*All you need in one place Section*/
.in-one-place-Section
{
    color: oklch(39.138% 0.00133 15.376 / 0.986);
    padding: 5rem 2rem;
    background-color: rgba(255, 255, 255, 0.045);
}
.in-one-place-Section-text
{
    text-align: center;
}
.in-one-place-Section-text h3
{
    color: black;
    font-size: 3.2rem;
    font-weight: 500;
}
.in-one-place-Section-cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    
}
.in-one-place-Section-cards h4
{
    font-size: 20px;
    color: black;
}
.in-one-place-Section-cards .cards2
{
    background-color: white;
    padding: 2rem;
    border: 1px solid rgba(198, 198, 198, 0.698);
    margin: 2rem;
    border-radius: 1rem;
}
.in-one-place-Section-cards .cards2 li
{
    list-style: none;
}
.in-one-place-Section-cards .cards2 .lists
{
    font-size: 1.3rem;
    padding:1.5rem;
}
/*Ready Section*/
.Ready-section
{
    background-color: #e0f2f1;
    padding: 5rem 2rem;
}
.Ready-container
{
    background-color: green;
    text-align: center;
    border-radius: 5px;
    color:white;
    padding:2rem;
}
.Ready-container h3
{
    font-size: 3.2rem;
    font-weight: 500;
}
.Ready-btn
{
    margin-top: 2rem;
}
.Ready-btn a
{
    font-size: 1.3rem;
    padding: 8px;
    background-color: white;
    color:black;
    border-radius: 5px;
    text-decoration: none;
}

@media(max-width: 760px)
{
    .how-it-works-cards
    {
        flex-wrap: wrap;
    }
    .in-one-place-Section-cards
    {
        flex-wrap: wrap;
    }
}
/*Footer Section*/
.footer-container
{
    padding: 2rem 2rem;
}
.footer-text
{
    border-top: 1px solid rgba(198, 198, 198, 0.698);
    font-size: 1.3rem;
    display:flex;
    justify-content: space-between;
    padding: 3rem 0px;
}
@media(max-width: 1110px)
{
    .footer-text
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:15px;
    }
    .footer-text .text
    {
        text-align: center;
    }
}